body{
    background: #101010;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #151515, #101010);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #151515, #101010); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}
body::before{
    content:"";
    display:block;
    position:fixed;
    top:0;left:0;
    background-image: url("../images/bg_pattern02.svg");
    width:100%;
    height:100%;
    background-size:140% auto;
    background-position-y: -33%;
    background-repeat: repeat-x;
    opacity:0.03;
    z-index: -1;
}
h1,h2,h3,h4,h5{
    color:#fee;
}
h1,h2,h3,h4{
    margin-bottom:15px;
}

.social{padding:0;margin:0 8px;}
.social>a{
    height:64px;
    width:64px;
    display:block;
    margin-right:auto;
    margin-left:0;
    background-size:40%;
    background-repeat:no-repeat;
    background-position:center;
    border-radius:100%;
}
.face>a{background-image: url("../images/facebook_logo.svg");}
.twit>a{background-image: url("../images/twitter_logo.svg");}
.inst>a{background-image: url("../images/instagram_logo.svg");}
.face>a:hover{background-image: url("../images/facebook_logo_h.svg");}
.twit>a:hover{background-image: url("../images/twitter_logo_h.svg");}
.inst>a:hover{background-image: url("../images/instagram_logo_h.svg");}
#thumbnail_nav{
    height:100%;
    width:auto;
}
.progress{
    margin-bottom:15px;
    height:5px;
    overflow: visible;
}
.progress>.progress-bar{
    position:relative;
    overflow: visible;    border-radius:5px;
}
.progress>.progress-bar::after{
    content:"";
    display:inline-block;
    border-radius:100%;
    height:12px;
    width:12px;
    position:absolute;
    right:0;
}
/*GENERAL COLOR OVERRIDES*/
.social>a,
.progress{
    background-color:rgba(100,100,100,0.2);
}
.progress>.progress-bar,
.progress>.progress-bar::after{
    background-color: #4287f5;
}
a{
    color:#4287f5;
    text-decoration: none;
}
a:hover{
    color:#609cfc;
}
#maincontainer>.row{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
}
#maincontainer>.row:first-child{
    margin-top:0;
}
.g-5>div{
    margin-top:0; 
}
.g-5>div>h4{
    margin-top:20px;  
}